In [1]:
import pandas as pd

# Contoh data
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Nama': ['Ari', 'Budi', 'Citra'],
    'Skor': [90, 85, 88]
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Nama': ['Budi', 'Citra', 'Dika'],
    'Skor': [87, 80, 75]
})

# Menampilkan kedua tabel
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   ID   Nama  Skor
0   1    Ari    90
1   2   Budi    85
2   3  Citra    88

DataFrame 2:
   ID   Nama  Skor
0   2   Budi    87
1   3  Citra    80
2   4   Dika    75

In [2]:
df_merge_multi = df1.merge(df2, on=['ID', 'Nama'], how='outer')
print("Merging dengan Multiple Keys:")
print(df_merge_multi)

Merging dengan Multiple Keys:
   ID   Nama  Skor_x  Skor_y
0   1    Ari    90.0     NaN
1   2   Budi    85.0    87.0
2   3  Citra    88.0    80.0
3   4   Dika     NaN    75.0

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [3]:
df_concat_vertical = pd.concat([df1, df2], axis=0)
print("Concatenation Vertikal (axis=0):")
print(df_concat_vertical)

Concatenation Vertikal (axis=0):
   ID   Nama  Skor
0   1    Ari    90
1   2   Budi    85
2   3  Citra    88
0   2   Budi    87
1   3  Citra    80
2   4   Dika    75

In [4]:
df_concat_horizontal = pd.concat([df1.set_index('ID'), df2.set_index('ID')], axis=1)
print("Concatenation Horizontal (axis=1):")
print(df_concat_horizontal)

Concatenation Horizontal (axis=1):
     Nama  Skor   Nama  Skor
ID
1     Ari  90.0    NaN   NaN
2    Budi  85.0   Budi  87.0
3   Citra  88.0  Citra  80.0
4     NaN   NaN   Dika  75.0

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()