In [1]:
import pandas as pd

# Membuat dua DataFrame
data1 = pd.DataFrame({'ID': [1, 2, 3], 'Nama': ['Ayu', 'Budi', 'Citra']})
data2 = pd.DataFrame({'ID': [1, 2, 4], 'Nilai': [85, 90, 75]})

# Menggabungkan data menggunakan left join
merged_left = pd.merge(data1, data2, on='ID', how='left')

# Menggabungkan data menggunakan right join
merged_right = pd.merge(data1, data2, on='ID', how='right')

# Menggabungkan data menggunakan outer join
merged_outer = pd.merge(data1, data2, on='ID', how='outer')

# Menampilkan hasil
print("Left Join:\n", merged_left)
print("Right Join:\n", merged_right)
print("Outer Join:\n", merged_outer)

Left Join:
    ID   Nama  Nilai
0   1    Ayu   85.0
1   2   Budi   90.0
2   3  Citra    NaN
Right Join:
    ID  Nama  Nilai
0   1   Ayu     85
1   2  Budi     90
2   4   NaN     75
Outer Join:
    ID   Nama  Nilai
0   1    Ayu   85.0
1   2   Budi   90.0
2   3  Citra    NaN
3   4    NaN   75.0

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()